{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% include 'nav.html' %}

  <div class="container review-create">
    <!-- update form -->
    <form name="review_form" onsubmit="return check();" action="" method="POST" enctype="multipart/form-data">
        <h4 class="text-center mb-4">사진 리뷰 작성</h4>
        {% csrf_token %}
        <!-- 글 : hidden -->
        <div class="mb-3" style="display: none;">
          <textarea name="content" cols="40" rows="14" class="form-control review-create-input" placeholder="맘에 드는 구절을 입력해주세요." id="id_content">{{ book_review.content }}</textarea>
        </div>
        <!-- 색상 : hidden(기본값 하양) -->
        <div class="mb-3" style="display: none;">
          <label class="form-label" for="id_color">색상</label>
          <input type="text" name="color" value="#FFFFFF" maxlength="7" class="form-control" placeholder="Color" required="" id="id_color">
        </div>
        <!-- 사진 -->
        <div class="mb-3">
          <div class="mx-auto mb-2" style="width: 350px; height: 350px">
            <img class="w-100 h-100" style="object-fit: cover;" id="image" src="https://dummyimage.com/500x500/ffffff/000000.png&text=no+image">
          </div>
          <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
        </div>
        <!-- sumbit -->
        <input class="btn btn--main--reverse w-100 mb-3" type="submit" value="Register">
      </form>
  </div>

  <script>
    function readImage(input) {
      // 인풋 태그에 파일이 있는 경우
      if(input.files && input.files[0]) {
          // 이미지 파일인지 검사 (생략)
          // FileReader 인스턴스 생성
          const reader = new FileReader()
          // 이미지가 로드가 된 경우
          reader.onload = e => {
              const previewImage = document.getElementById("image")
              previewImage.src = e.target.result
          }
          // reader가 이미지 읽도록 하기
          reader.readAsDataURL(input.files[0])
      }
    }
    // input file에 change 이벤트 부여
    const inputImage = document.getElementById("id_image")
    inputImage.addEventListener("change", e => {
        readImage(e.target)
    })

    // 사진이 첨부되었는지 확인
    function check() {
      if(review_form.image.value == '') {
        alert("사진을 첨부해주세요.");
        review_form.image.focus();
        return false;
      }
      else {
        return true;
      }
    }
  </script>

{% endblock content %}