{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <h1>create</h1>
  <div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form book_review_form %}
      <button type="submit">제출</button>
    </form>
  </div>

<!-- review-modal -->
<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#review-guide">
  작성 안내 모달 
</button>

<!-- reivew-guide-modal -->
<div class="modal fade" id="review-guide" tabindex="-1" aria-labelledby="review-guide" aria-hidden="true">
  <!-- modal-dialog -->
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal-body -->
      <div class="modal-body">
        <p class="record-text">기록할 유형을 선택해주세요 ✍️</p>
        <!-- Record-wrap -->
        <div class="record-wrap">
          <!-- record-wording -->
          <div class="record-wording">
            <lord-icon
              src="https://cdn.lordicon.com/nocovwne.json"
              trigger="hover"
              colors="primary:#6c757d,secondary:#6c757d"
              stroke="30"
              style="width:250px;height:250px">
            </lord-icon>
            <h5 class="word">문장 기록</h5>
          </div>
          <!-- record-photo -->
          <div class="record-photo">
            <lord-icon
              src="https://cdn.lordicon.com/vixtkkbk.json"
              trigger="hover"
              colors="primary:#6c757d,secondary:#6c757d"
              stroke="30"
              style="width:250px;height:250px">
            </lord-icon>
            <h5>사진 기록</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


<!-- JS -->
{% block js %}
  <script>
  // reivew-create-modal
  const wording = document.querySelector(".record-wording");
  const wordingIcon = wording.querySelector('lord-icon');
  const wordingHtag = wording.querySelector('h5');
  const photo = document.querySelector('.record-photo');
  const photoIcon = photo.querySelector('lord-icon');
  const photoHtag = photo.querySelector('h5');

  wording.addEventListener('mouseenter', () => {
      wordingIcon.setAttribute('colors', 'primary:#92B4EC,secondary:#92B4EC');
      wordingHtag.style.color = '#92B4EC';
  });
  wording.addEventListener('mouseleave', () => {
      wordingIcon.setAttribute('colors', 'primary:#6c757d,secondary:#6c757d');
      wordingHtag.style.color = '#6c757d';
  });
  photo.addEventListener('mouseenter', () => {
      photoIcon.setAttribute('colors', 'primary:#92B4EC,secondary:#92B4EC');
      photoHtag.style.color = '#92B4EC';
  });
  photo.addEventListener('mouseleave', () => {
      photoIcon.setAttribute('colors', 'primary:#6c757d,secondary:#6c757d');
      photoHtag.style.color = '#6c757d';
  });
  </script>
{% endblock js %}
  