{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  <h1>create</h1>
  <div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form book_review_form %}
      <button type="submit">제출</button>
    </form>
  </div>

<!-- review-modal -->
<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#review-guide">
  작성 안내 모달 
</button>

<!-- reivew-guide-modal -->
<div class="modal fade" id="review-guide" tabindex="-1" aria-labelledby="review-guide" aria-hidden="true">
  <!-- modal-dialog -->
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal-body -->
      <div class="modal-body">
        <p class="record-text">기록할 유형을 선택해주세요 ✍️</p>
        <!-- Record-wrap -->
        <div class="record-wrap">
          <!-- record-wording -->
          <div class="record-wording">
            <i class="fa-regular fa-pen-to-square icon"></i>
            <h5 class="word">문장 기록</h5>
          </div>
          <!-- record-photo -->
          <div class="record-photo">
            <i class="fa-regular fa-images"></i>
            <h5>사진 기록</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


<!-- JS -->
{% block js %}
  <script>
  // reivew-create-modal
  const wording = document.querySelector(".record-wording");
  const wordingIcon = wording.querySelector('i');
  const wordingHtag = wording.querySelector('h5');
  const photo = document.querySelector('.record-photo');
  const photoIcon = photo.querySelector('i');
  const photoHtag = photo.querySelector('h5');

  wording.addEventListener('mouseenter', () => {
      wordingIcon.style.color = '#92B4EC';
      wordingHtag.style.color = '#92B4EC';
  });
  wording.addEventListener('mouseleave', () => {
      wordingIcon.style.color = '#adb5bd';
      wordingHtag.style.color = '#adb5bd';
  });
  photo.addEventListener('mouseenter', () => {
      photoIcon.style.color = '#92B4EC';
      photoHtag.style.color = '#92B4EC';
  });
  photo.addEventListener('mouseleave', () => {
      photoIcon.style.color = '#adb5bd';
      photoHtag.style.color = '#adb5bd';
  });
  </script>
{% endblock js %}
  