{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% include 'nav.html' %}

  <div class="container review-create">
    <!-- form title -->
    <h4 class="text-center mb-4">글 리뷰 작성</h4>
    <!-- 책 검색 -->
    <div class="review-search-form">
      <form class="mb-3 search-form-01" id="search-form" action="{% url 'reviews:pk_create_txt' %}" method="get">
        {% if bookId %}  
        <input class="form-control" type="search" name="q" id="t" value="{{ bookId.bookname }}">
        {% else %}
        <input class="form-control" type="search" name="q" id="t" placeholder="원하는 책 제목을 입력한 뒤 엔터를 눌러주세요.">
        {% endif %}
      </form>
      <!-- 검색결과 -->
      {% if book %}
        <div class="review-search-list mx-auto">
          {% for boo in book %}
            <form action="">
              <button id="tt" name="aa" value="{{boo.pk}}">
                <p>{{ boo.bookname }}</p>
              </button>
            </form>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <!-- create/update form -->
    <form class="review-create-form" name="review_form" onsubmit="return check();" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 글 -->
        <div class="mb-3">
          <textarea name="content" onkeyup="check_length(this);" cols="40" rows="17" class="form-control review-create-input" placeholder="맘에 드는 구절을 입력해주세요." id="id_content">{{ book_review.content }}</textarea>
        </div>
        <!-- 태그 -->
        <div class="mb-3">
          <label class="form-label" style="color: var(--gray-dark-color);" for="id_tag"># 해시태그 입력</label>
          <input type="text" id="id_tag" class='form-control' name="tags" placeholder="ex) 태그1, 태그2" value="{% for tag in book_review.tags.all %}{{ tag.name }},{% endfor %}">
        </div>
        <!-- 색상 : hidden(기본값 하양) -->
        <div class="mb-3" style="display: none;">
          <label class="form-label" for="id_color">색상</label>
          {% if book_review.color %}
          <input type="text" name="color" value="{{ book_review.color }}" maxlength="7" class="form-control" placeholder="Color" required="" id="id_color">
          {% else %}
          <input type="text" name="color" value="#FFFFFF" maxlength="7" class="form-control" placeholder="Color" required="" id="id_color">
          {% endif %}
        </div>
        <fieldset class="mb-4">
          <div class="d-flex review-create-color">
              <input class="radioInp d-none" type="radio" id="하양" name="color" value="#FFFFFF" onclick="colorPick(this)" checked>
              <label style="background-color: #FFFFFF" for="하양"></label>
              <input class="radioInp d-none" type="radio" id="회색" name="color" value="#F5F5F5" onclick="colorPick(this)">
              <label style="background-color: #F5F5F5" for="회색"></label>
              <input class="radioInp d-none" type="radio" id="노랑" name="color" value="#FBF6A4" onclick="colorPick(this)">
              <label style="background-color: #FBF6A4" for="노랑"></label>
              <input class="radioInp d-none" type="radio" id="주황" name="color" value="#FFC090" onclick="colorPick(this)">
              <label style="background-color: #FFC090" for="주황"></label>
              <input class="radioInp d-none" type="radio" id="민트" name="color" value="#B8D1CE" onclick="colorPick(this)">
              <label style="background-color: #B8D1CE" for="민트"></label>
              <input class="radioInp d-none" type="radio" id="파랑" name="color" value="#9BBBE1" onclick="colorPick(this)">
              <label style="background-color: #9BBBE1" for="파랑"></label>
              <input class="radioInp d-none" type="radio" id="보라" name="color" value="#B6AAD0" onclick="colorPick(this)">
              <label style="background-color: #B6AAD0" for="보라"></label>
              <input class="radioInp d-none" type="radio" id="분홍" name="color" value="#F2A69C" onclick="colorPick(this)">
              <label style="background-color: #F2A69C" for="분홍"></label>
          </div>
        </fieldset>
        <!-- 사진 : hidden -->
        <div class="mb-3" style="display: none;">
          <label class="form-label" for="id_image">Image</label>
          <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
        </div>
        <!-- sumbit -->
        <input class="btn btn--main--reverse w-100 mb-3" type="submit" value="등록하기">
      </form>
  </div>


  <!-- Sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    // 글이 작성되었는지 확인
    function check() {
      // 공백이면
      if(review_form.content.value == '') {
        // Sweet alert
        Swal.fire({
          icon: 'question',
          iconHtml: '!',
          title: '글을 작성해주세요!',
          text: '맘에 드는 구절을 기록해보세요',
          confirmButtonColor: '#92B4EC',
        })
        // content textarea 커서 이동
        review_form.content.focus();
        // false : submit X
        return false;
      }
      // 공백이 아니면
      else {
        // true : submit reader.onload
        return true;
      }
    }

    function check_length(area) {
      var text = area.value;
      var text_length = text.length;

      if(text_length > 400) {
        // Sweet alert
        Swal.fire({
          icon: 'question',
          iconHtml: '!',
          title: '너무 길어요!',
          text: '400자 이내로 작성해주세요!',
          confirmButtonColor: '#92B4EC',
        })
        text = text.substr(0, 400);
        area.value = text;
        area.focus();
      }
    }

    // 기존 색상코드 값 불러오기
    var color = document.querySelector("#id_color").value
    console.log(color)
    // color radio 버튼 그룹
    var radioGroup = document.getElementsByName("color")
    // 반복문 돌려서 기존 색상코드와 같은 값의 버튼 체크
    for (var i = 0; i < radioGroup.length; i++) {
        if (radioGroup[i].value === color) {
            radioGroup[i].checked = true;
            document.getElementById("id_content").style.backgroundColor = radioGroup[i].value;
        }
    }

    // 색상 변경
    function colorPick(obj) {
      // 현재 선택된 radio 버튼 객체의 색상코드
      var colorPick = obj.value;
      // 해당 색상코드로 content textarea 배경색 변경
      document.getElementById("id_content").style.backgroundColor = colorPick;
    }
  </script>

{% endblock content %}


  