/* Group-wrap */
.group-wrap {
  background: radial-gradient(ellipse at bottom, #4a607b 0%, #2e334a 100%);
  padding: 100px
}

.group-wrap-in {
  padding: 0 50px;
  background-color: #fff;
  border-radius: 30px;
}

.group-info-in-hr {
  margin: 50px 0;
}


/* Gorup-top */
.group-top {
  padding-top: 100px;
}

.group-top .container {
  display: flex;
}

.group-image {
  width: 50%;
  border-radius: 3px;
}

.group-image img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}


/* Gorup-info */
.group-info {
  width: 50%;
  padding: 10px 0 10px 50px;
}

.group-info  .dropstart .dropdown-toggle::before {
  display: none;
}

.group-info-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.group-info-title h3 {
  margin: 0;
  font-weight: 500;
}

.group-info-detail {
  margin-top: 20px;
}

.group-info-detail table td:first-child {
  width: 80px;
  color: var(--gray-color);
}

.group-info-leader {
  display: flex;
  margin: 20px 0;
}

.group-info-leader img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.group-leader-name {
  font-weight: 500;
}

.group-leader-count {
  display: flex;
}

.group-leader-count p {
  font-size: 14px;
}

.group-leader-count span {
  font-weight: 700;
  color: var(--main-color);
}

.group-info-button a,
.group-info-button form {
  width: 100%;
}

.group-info-button a .btn,
.group-info-button form .btn {
  width: 100%;
}


/* Group-bottom */
.group-bottom {
  padding-bottom: 50px;
}

.group-bottom .container {
  display: flex;
  justify-content: space-between;
}

.group-description {
  width: 55%;
  margin-right: 10px;
}

.group-map-wrap {
  width: 45%;
}

.group-map {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}


/* Media */
@media screen and (max-width: 992px) {
  .group-wrap {
    padding: 100px 50px;
  }

  /* Group-top */
  .group-top {
    padding-top: 50px;
  }
  .group-top .container {
    flex-direction: column;
  }
  .group-image,
  .group-info {
    width: 100%;
  }
  .group-info {
    padding: 0;
    margin-top: 20px;
  }

  /* Group-bottom */
  .group-bottom .container {
    flex-direction: column;
  }
  .group-description,
  .group-map-wrap {
    width: 100%;
  }
  .group-map-wrap {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .group-wrap {
    padding: 100px 12px;
  }
  .group-wrap-in {
    padding: 0;
  }
  .group-info-in-hr {
    margin: 0;
  }

  /* Group-top */
  .group-top .container {
    padding: 0;
    margin: auto;
  }
  .group-info {
    padding: 0;
  }
  .group-info-in {
    padding: 0 20px;
  }
  .group-info-leader {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .group-info-leader img {
    width: 55px;
    height: 55px;
  }
  .group-leader-count p {
    margin-bottom: 0;
  }

  /* Group-bottom */
  .group-bottom {
    padding-bottom: 0;
  }
  .group-bottom .container {
    padding: 0;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .group-wrap-in {
    padding: 0;
  }
  .group-top .container {
    padding: 0;
  }

  /* Group-top */
  .group-top {
    padding-top: 0;
    border-radius: 30px 30px 0 0;
  }
  .group-image {
    border-radius: 30px 30px 0 0;
  }
  .group-image img {
    border-radius: 30px 30px 0 0;
  }
  .group-info-button {
    text-align: center;
  }
  .group-info-button a,
  .group-info-button form {
    width: 95%;
    margin: auto;
  }
  .group-info-button a .btn,
  .group-info-button form .btn {
    width: 95%;
    margin: auto;
  }

  /* Group-bottom */
  .group-bottom {
    padding: 0;
  }
  .group-bottom .container {
    padding: 0;
  }
  .group-description {
    padding-left: 20px;
  }
  .group-map-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .group-map {
    border-radius: 0 0 30px 30px;
    margin-top: 20px;
  }
  .group-map-wrap p {
    margin: 0;
    margin-left: 10px;
  }
  .group-map-wrap p a {
    font-size: 14px;
  }
}