{% extends 'base.html' %}
{% load django_bootstrap5 %}



{% block content %}

<h1>create</h1>
<div class="container">
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- input -->
    {% comment %} {% bootstrap_form group_form %} {% endcomment %}

    <div class="mb-3">
      <label class="form-label" for="id_title">모임 제목</label>
      <input type="text" name="title" maxlength="200" class="form-control" placeholder="모임 제목" required="" id="id_title"
        value="{{group.title}}">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_introduce">소개글</label>
      <input type="text" name="introduce" maxlength="200" class="form-control" placeholder="소개글" required=""
        id="id_introduce" value="{{group.introduce}}">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_place">주소</label>
      <input type="text" name="place" maxlength="200" class="form-control" placeholder="주소" required="" id="id_place"
        value="{{group.place}}">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_detail_place">모임장소</label>
      <input type="text" name="detail_place" value="{{group.detail_place}}" maxlength="200" class="form-control"
        placeholder="모임장소" required="" id="id_detail_place">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_number">모집인원</label>
      <input type="number" name="number" min="0" class="form-control" placeholder="모집인원" required="" id="id_number"
        value="{{group.number}}">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_end_date">신청 마감일</label>
      <input name="end_date" class="datetimepick" placeholder="마감일을 입력해주세요.(필수)" required="" id="id_end_date"
        value="{{group.end_date}}" autocomplete="off" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_meeting_date">모임날짜</label>
      <input name="meeting_date" class="datetimepick" placeholder="날짜와 시간을 입력해주세요.(필수)" required="" id="id_meeting_date"
        value="{{group.meeting_date}}" autocomplete="off" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_image">이미지</label>
      <input type="file" name="image" accept="image/*" class="form-control" required="" id="id_image">

    </div>
    <button type="submit">제출</button>

  </form>

</div>


{% endblock content %}

{% block js %}

  <!-- 옛날코드 -->
  {% comment %} <script>
    var now_utc = Date.now()
    var timeOff = new Date().getTimezoneOffset() * 60000;
    var today = new Date(now_utc - timeOff).toISOString().split("T")[0];
    document.getElementById("id_meeting_date").setAttribute("min", today);
    document.getElementById("id_end_date").setAttribute("min", today);
  </script> {% endcomment %}

  <!-- 최소값 제한달력 -->
  {% comment %} <script>
    $("#id_meeting_date").datepicker({
        language: 'ko',
        timepicker: true,
        timeFormat: "hh:ii",
        minDate: new Date(),
    });
  </script>
  <script>
      $("#id_end_date").datepicker({
          language: 'ko',
          timepicker: true,
          timeFormat: "hh:ii",
          minDate: new Date(),
      });
  </script> {% endcomment %}

  <script>
    
    var date = new Date();
    var dp = $('#id_end_date').datepicker({
      //년-월-일
      startDate: new Date(date.getFullYear(), date.getMonth(), date.getDate()),
      language: 'ko',
      autoClose: true,
      //선택한 날짜를 가져옴
      onSelect: function (date) {
          var endNum = date;
          //종료일 datepicker에 최소날짜를 방금 클릭한 날짜로 설정
          $('#id_meeting_date').datepicker({
              minDate: new Date(endNum),
          });
      }
    }).data('datepicker');
    var dp2 = $('#id_meeting_date').datepicker({
      startDate: new Date(date.getFullYear(), date.getMonth(), date.getDate()),  // 시간, 분은 00으로 초기 설정
      language: 'ko',
      autoClose: true,
      //선택한 날짜를 가져옴
      onSelect: function (date) {
          var startNum = date;
          $('#id_end_date').datepicker({
              //시작일 datepicker에 최대날짜를 방금 클릭한 날짜로 설정
              minDate: new Date(),
              maxDate: new Date(startNum),
          });
      }
    }).data('datepicker');
    </script>

  {% comment %} <script>
    let dpMin, dpMax;

    dpMin = new AirDatepicker('#el1', {
        onSelect({date}) {
            dpMax.update({
                minDate: date
            })
        }
    })

    dpMax = new AirDatepicker('#el2', {
        onSelect({date}) {
            dpMin.update({
                maxDate: date
            })
        }
    })
  </script> {% endcomment %}
{% endblock js %}