{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <p>{{group.title}}</p>
  <p>{{group.introduce}}</p>
  <p>{{group.place}}</p>
  <p>{{group.meeting_date}}</p>
  <p>{{group.number}}</p>
  <p>{{group.end_date}}</p>
  <p><img src="{{group.image.url}}" alt=""></p>

  <!-- group-like (신청하기) -->
  <div class="review-like">
    <div class="count">
      <p id="like-count">{{ like_count }}</p>
    </div>
    <form class="review-like-forms" data-group-id="{{ group.pk }}">
      {% csrf_token %}
      {% if request.user in group.like_user.all %}
        <button id="like-{{ group.pk }}" class="button like-user-button" type="submit">
          <i class="fa-regular fa-heart fa-lg"></i>
        </button>
      {% else %}
        <button id="like-{{ group.pk }}" class="button" type="submit">
          <i class="fa-regular fa-heart fa-lg"></i>
        </button>
      {% endif %}
    </form>
  </div>

  <!-- 마감 버튼 -->
  {% if request.user == friend.user %}
    <a href="{% url 'groups:group_closed' group.pk %}" type="submit">
      {% if group.closed == False %}
        마감하기
      {% else %}
        마감 취소하기
      {% endif %}
    </a>
  {% endif %}

  <!-- 수정 -->
  <a href="{% url "groups:update" group.pk %}">수정</a>
  <!-- 삭제 -->
  <a href="{% url "groups:delete" group.pk %}">삭제</a>
  <br>
  <p style="margin-top:10px">
    <em class="link">
      <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
        혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
      </a>
    </em>
  </p>
  <!-- 지도 div(크기 위치 조절)-->
  <div id="map" style="width:100%;height:350px;"></div>
{% endblock content %}

{% block js %}

  <!-- CDN axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- like(신청하기) -->
  <script>
    const forms = document.querySelectorAll('.review-like-forms')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value;

    forms.forEach((form) => {
      form.addEventListener('submit', function (evnet) {
        event.preventDefault();
        console.log(event.target)
        console.log(event.target.dataset)
        const groupId = event.target.dataset.groupId
        // request axios
        axios({
          method: 'post',
          url: `/groups/${groupId}/like/`,
          headers: {
            'X-CSRFToken': csrftoken
          }, // csrf token
        })
        // response views
          .then((response) => {
            console.log(response.data)
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-${groupId}`)
            const likeIcon = likeBtn.querySelector('i')
            const likeCountTag = document.querySelector('#like-count')
            const likeCount = response.data.like_count
            likeCountTag.innerText = likeCount
            if (isLiked === true) {
              likeBtn.style.background = "var(--yellow-color)";
              likeIcon.style.color = "var(--white-color)";
            } else {
              likeBtn.style.background = "var(--white-color)";
              likeIcon.style.color = "var(--yellow-color)";
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
        })
    })
  </script>

  <!--여기부터 지도-->

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac496d224ad8e6aeb9687fa6abedb0fd&libraries=services"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
        center: new kakao
          .maps
          .LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };

    // 지도를 생성합니다
    var map = new kakao
      .maps
      .Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao
      .maps
      .services
      .Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('{{group.place}}', function (result, status) {

      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao
          .maps
          .LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao
          .maps
          .Marker({map: map, position: coords});

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao
          .maps
          .InfoWindow({content: '<div style="width:150px;text-align:center;padding:6px 0;">{{group.detail_place}}</div>'});
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }
    });
  </script>
{% endblock js %}
