{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

<!--모임 목록 템플릿입니다-->

<div class="container group_index">
  <div class="group_index_introduction">
    <h3> 모임 목록 </h3>
    <p> 기록가들의 모임에 참여해 보세요. </p>
  </div>

  <!--모임중/ 모집 마감 선택 -->
  <div class="tab-area">
    <!-- 탭 메뉴 -->
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">전체 모임</label>
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">모집 중</label>
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">모집 마감 </label>

    <!-- 탭1 : 모집중 -->
    <div id="content1" class="tab-content d-flex justify-content-center">
      <!-- 모임 생성 버튼 -->
      <a class="btn btn--main tab-create-btn my-3" href="{% url 'groups:create' %}">모임 생성</a>
      <!-- 전체 모임 리스트 -->
      <div class="row gx-5 w-100">
        <!-- 반복문 시작 -->
        {% for group in groups %}
        <div class="col-12 col-md-6 col-lg-3 group-index-item" style="cursor: pointer;"
          onclick="location.href='{% url 'groups:detail' group.pk %}';">
          <div class="card w-100 mb-5 mx-auto">
            <div class="card-image" style="height: 250px;">
              <img src="{{ group.image.url }}" class="card-img-top" alt="metting-image" style="height: 100%;">
            </div>
            <div class="card-body">
              <p class="card-title" style="margin-bottom: 10px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
              -webkit-box-orient: vertical; font-weight: 600;">{{ group.title }}</p>
              <p class="card-text" style="font-size: 14px; color: var(--gray-dark-color);">장소: {{ group.place }} <br>인원: {{ group.number }}명 <br> 
                일시: {{ group.meeting_date|date:"m.d A h:i" }} <br> 모집 마감일: {{ group.end_date |date:"m.d A h:i" }}까지</p>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="my-5 d-flex flex-column align-items-center" style="min-height: 250px;">
          <p style="color: var(--gray-dark-color);">책:오의 첫 모임 주인공이 되어주세요!</p>
        </div>
        {% endfor %}
        <!-- 반복문 끝 -->
      </div>
      <!-- 탭2 : 모집 중 -->
    </div>
    <div id="content2" class="tab-content d-flex justify-content-center">
      <!-- 모집중 모임 리스트 -->
      <div class="row gx-5 w-100">
        <!-- 반복문 시작 -->
        {% for group in ing_groups %}
        <div class="col-12 col-md-6 col-lg-3 group-index-item" style="cursor: pointer;"
          onclick="location.href='{% url 'groups:detail' group.pk %}';">
          <div class=" card w-100 mb-5 mx-auto">
            <div class="card-image position-relative" style="height: 250px;">
              <span class="p-2 badge rounded-pill text-bg-success">모집중</span>
              <img src="{{ group.image.url }}" class="card-img-top" alt="metting-image" style="height: 100%;">
        
            </div>
            <div class="card-body">
              <p class="card-title" style="margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
              -webkit-box-orient: vertical; font-weight: 600;">{{ group.title }}</p>
              <p class="card-text" style="font-size: 14px; color: var(--gray-dark-color);"> 장소: {{ group.place }} <br>인원: {{ group.number }}명 <br> 일시: {{ group.meeting_date|date:"m.d(l) A h:i" }} <br> 모집 마감일: {{ group.end_date |date:"m.d A h:i" }}까지</p>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="my-5 d-flex flex-column align-items-center" style="min-height: 250px;">
          <p style="color: var(--gray-dark-color);">모집중인 모임이 없어요</p>
        </div>
        {% endfor %}
        <!-- 반복문 끝 -->
      </div>
    </div>
    <!-- 탭3 : 모집 마감 -->
    <div id="content3" class="tab-content d-flex justify-content-center">
      <!-- 모집마감 모임 리스트 -->
      <div class="row gx-5 w-100 mx-auto">
        <!-- 반복문 시작 -->
        {% for group in end_groups %}
        <div class="col-12 col-md-6 col-lg-3 group-index-item" style="cursor: pointer;"
          onclick="location.href='{% url 'groups:detail' group.pk %}';">
          <div class="card w-100 mb-5 mx-auto">
            <div class="position-relative card-image" style="height: 250px;">
              <span class="position-absolute p-2 badge rounded-pill text-bg-secondary">모집마감</span>
              <img src="{{ group.image.url }}" class="card-img-top" alt="metting-image" style="height: 100%;">
            </div>
            <div class="card-body">
              <p class="card-title" style="margin-bottom: 10px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
              -webkit-box-orient: vertical; font-weight: 600;">{{ group.title }}</p>
              <p class="card-text " style="font-size: 14px; color: var(--gray-dark-color);">장소: {{ group.place }} <br> 인원: {{ group.number }}명 <br> 일시: {{ group.meeting_date|date:"m.d(l) A h:i" }} <br>모집 마감일: {{ group.end_date |date:"m.d A h:i" }}까지</p>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="my-5 d-flex flex-column align-items-center" style="min-height: 250px;">
          <p style="color: var(--gray-dark-color);">모집 마감한 모임이 없습니다</p>
        </div>
        {% endfor %}
        <!-- 반복문 끝 -->
      </div>
    </div>
  </div>
</div>


{% endblock content %}