@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import './books/index.css';
@import './books/detail.css';

/* Root */
:root {
  /* Color */
  --white-color: #fff;
  --main-color: #92B4EC;
  --yellow-color: #FFE69A;
  --gray-color: #adb5bd;
  --gray-light-color: #e6e5e5;
  --gray-dark-color: #6c757d;
  --dark-color: #3E3E3E;

  /* Font-size */
  --xlarge-font: 36px;
  --large-font: 24px;
  --middle-font: 18px;
  --small-font: 14px;
}

/* Sub Font Style : Noto serif KR */
body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--dark-color);
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
}

.footer-txt {
  font-size: var(--small-font);
  color: var(--white-color);
  margin: 0;
}

.info-box {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.members-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.members-github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.members-img:hover {
  filter: brightness(110%);
}