/* Reviews */
.reviews {
  margin-top: 170px;
  text-align: center;
}

.reviews__title {
  color: white;
  background-color: var(--main-color);
  width: 270px;
  border-radius: 30px;
  margin: auto;
  padding: 10px;
}


.reviews__wording {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}


/* Review-list */
.accounts-review-list .container,
.review-list .container .infinite .inflist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0 30px;
  justify-items: center;
}

.review__item {
  width: 350px;
  margin-bottom: 18px;
}

.review__item__content {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .1);
  font-family: 'Noto serif KR', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
}

.review__item__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.review__item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.review__item__proflie {
  display: flex;
  align-items: center;
  margin-top: 3px;
  cursor: pointer;
}

.review__item__img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
}

.review__item__username {
  font-weight: 600;
  font-size: 18px;
}

.review__item__btn {
  display: flex;
  align-items: center;
}

.review__item__btn i {
  margin-right: 10px;
  color: var(--main-color);
  font-size: 26px;
}

.review-index-btn i {
  margin-right: 0;
}

.review-item-tag {
  cursor: default;
}

.review-item-tags,
.created-date {
  font-size: 14px;
  margin-left: 5px;
  color: var(--gray-dark-color);
}

.review-item-tags {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.created-date {
  width: 120px;
  text-align: end;
}


/* Review-media */
@media screen and (max-width: 1200px) {
  .review-list .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }
}

@media screen and (max-width: 992px) {
  .review-list .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }
}

@media screen and (max-width: 768px) {
  .review-list .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .accounts-review-list .review__item,
  .review-list .review__item {
    width: 100%;
  }

  .review__item__content {
    width: 100%;
    height: 445px;
    font-size: 20px;
  }
}

.review__item__content__quote {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.review__item__content__quote p {
  padding: 0 10px;
  font-family: 'Noto serif KR', -apple-system, BlinkMacSystemFont, sans-serif;
}

.fa-quote-left {
  color: var(--dark-color);
}

.fa-quote-right {
  color: var(--dark-color);
  text-align: end;
  width: 100%;
}