{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load taggit_templatetags2_tags %}

{% block content %}
{% include 'nav.html' %}

<div class="container mypage">
    <div class="myinfo">
        <!-- 드롭다운 -->
        {% if request.user == user %}
        <div class="dropdown dropdown-btn">
            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis fa-2x dropdown-icon"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-danger" href="{% url 'accounts:delete_check' %}">회원 탈퇴</a></li>
            </ul>
        </div>
        {% endif %}
        <!-- 회원 정보 -->
        <div class="row">
            <!-- 프로필 이미지 -->
            <div class="col-12 col-md-4">
                <div class="profile-img">
                    {% if user.profile_image %}
                    <img width="200" height="200" class="rounded-circle border border-2" src="{{ user.profile_image.url }}"
                        alt="">
                    {% else %}
                    <img class="rounded-circle border border-2"
                        src="/static/image/no_profile.png" alt="no_profile">
                    {% endif %}
                </div>
            </div>
            <!-- 정보 -->
            <div class="col-12 col-md-5">
                <div class="myinfo-content py-3">
                    <!-- 닉네임 / 유저네임 -->
                    {% if user.nickname %}
                    <h4 class="user-name mb-3">{{ user.nickname }} 님의 책크리스트</h4>
                    {% else %}
                    <h4 class="user-name mb-3">{{ user.username }} 님의 책크리스트</h4>
                    {% endif %}
                    <!-- 리뷰/팔로워/팔로잉 수 -->
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <p class="text-center m-0">리뷰</p>
                            <p class="text-center">{{ user.book_review_set.count }}</p>
                        </div>
                        <div class="d-flex flex-column mx-3">
                            <p class="text-center m-0">팔로워</p>
                            <p class="text-center" id="followers-count">{{ user.followers.all|length }}</p>
                        </div>
                        <div class="d-flex flex-column">
                            <p class="text-center m-0">팔로잉</p>
                            <p class="text-center" id="followings-count">{{ user.followings.all|length }}</p>
                        </div>
                    </div>
                    <!-- 상태 메세지 -->
                    {% if user.status_message %}
                    <p class="status-message">{{ user.status_message }}</p>
                    {% else %}
                    <p class="status-message">상태 메세지가 없어요</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <!-- 프로필 수정 / 팔로우 버튼-->
                        {% if request.user == user %}
                        <a class="btn btn--main--reverse" href="{% url 'accounts:update' %}">프로필 수정</a>
                        {% else %}
                        <form id="follow-form" data-user-id="{{ user.pk }}" method="POST">
                            {% csrf_token %}
                            {% if request.user in user.followers.all %}
                            <input class="btn btn--main--reverse" type="submit" value="언팔로우">
                            {% else %}
                            <input class="btn btn--main" type="submit" value="팔로우">
                            {% endif %}
                        </form>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'accounts:login' %}">
                        <span style="color: var(--dark-color); font-size: 14px;">로그인 이후 사용이 가능합니다.</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- 활동 내역 -->
    <div class="tab-area">
        <!-- 탭 메뉴 -->
        <input type="radio" name="tabs" id="tab1" checked>
        <label for="tab1">작성한 리뷰</label>
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">좋아요한 리뷰</label>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">좋아요한 책</label>
        <input type="radio" name="tabs" id="tab4">
        <label for="tab4">개최한 모임</label>
        <input type="radio" name="tabs" id="tab5">
        <label for="tab5">신청한 모임</label>

        <!-- 탭1 : 작성한 리뷰 -->
        <div id="content1" class="tab-content">
            <!-- 작성한 리뷰 리스트 -->
            <section class="accounts-review-list w-100">
                <div class="container">
                    <!-- Review-item -->
                    {% for review in user_reviews %}
                    <div class="review__item mb-5">
                        <!-- review-item-content -->
                        <div class="review__item__content mb-5" style="cursor: pointer; background-color: {{ review.color }};" onclick="location.href='{% url 'reviews:detail' review.pk %}';">
                            {% if review.content != "" %}
                            <div class="review__item__content__quote">
                                <div class="up-quote">
                                <i class="fa-solid fa-quote-left fa-lg"></i>
                                </div>
                                <p class="text-center m-0">{{ review.content }}</p>
                                <div class="down-quote">
                                <i class="fa-solid fa-quote-right fa-lg"></i>
                                </div>
                            </div>
                            <!-- review-item-tag -->
                            <div class="review-item-tag mt-2 pe-2 d-flex justify-content-between align-items-center">
                                <div class="review-item-tags">
                                {% get_tags_for_object review as "tags" %}
                                {% for tag in tags %}
                                    #{{tag}}
                                {% endfor %}
                                </div>
                                <div class="created-date">
                                {% if review.created_string == False %}
                                {{ review.registered_date|date:'m월 d일' }}
                                {% else %}
                                {{ review.created_string }}
                                {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <img class="bookReviewCardImage border" src="{{ review.image.url }}" alt="">
                            <!-- review-item-tag -->
                            <div class="review-item-tag mt-2 pe-2 d-flex justify-content-between align-items-center">
                                <div class="review-item-tags">
                                {% get_tags_for_object review as "tags" %}
                                {% for tag in tags %}
                                    #{{tag}}
                                {% endfor %}
                                </div>
                                <div class="created-date">
                                {% if review.created_string == False %}
                                {{ review.registered_date|date:'m월 d일' }}
                                {% else %}
                                {{ review.created_string }}
                                {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="m-5 d-flex flex-column align-items-center">
                        <p class="m-0" style="color: var(--gray-dark-color);">리뷰가 하나도 없어요...</p>
                        <!-- 리뷰 작성 버튼 -->
                        <button type="button" class="btn btn--main my-3" data-bs-toggle="modal"
                            data-bs-target="#review-guide">리뷰 작성하기</button>
                        <!-- 리뷰 작성 모달 -->
                        <div class="modal fade" id="review-guide" tabindex="-1" aria-labelledby="review-guide"
                            aria-hidden="true">
                            <!-- modal-dialog -->
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- modal-body -->
                                    <div class="modal-body">
                                        <p class="record-text">기록할 유형을 선택해주세요 ✍️</p>
                                        <!-- Record-wrap -->
                                        <div class="record-wrap">
                                            <!-- record-wording -->
                                            <a href="{% url 'reviews:pk_create_txt' %}">
                                                <div class="record-wording">
                                                    <lord-icon src="https://cdn.lordicon.com/nocovwne.json"
                                                        trigger="hover" colors="primary:#6c757d,secondary:#6c757d"
                                                        stroke="30" style="width:250px;height:250px">
                                                    </lord-icon>
                                                    <h5 class="word">문장 기록</h5>
                                                </div>
                                            </a>
                                            <!-- record-photo -->
                                            <a href="{% url 'reviews:pk_create_img' %}">
                                                <div class="record-photo">
                                                    <lord-icon src="https://cdn.lordicon.com/vixtkkbk.json"
                                                        trigger="hover" colors="primary:#6c757d,secondary:#6c757d"
                                                        stroke="30" style="width:250px;height:250px">
                                                    </lord-icon>
                                                    <h5>사진 기록</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        <!-- 탭2 : 좋아요 리뷰 -->
        <div id="content2" class="tab-content">
            <!-- 좋아요한 리뷰 리스트 -->
            <section class="accounts-review-list w-100">
                <div class="container">
                    <!-- Review-item -->
                    {% for review in user_like_reviews %}
                    <div class="review__item mb-5">
                        <!-- review-item-content -->
                        <div class="review__item__content mb-5" style="cursor: pointer; background-color: {{ review.color }};">
                            {% if review.content != "" %}
                            <div class="review__item__content__quote" onclick="location.href='{% url 'reviews:detail' review.pk %}';">
                                <div class="up-quote">
                                <i class="fa-solid fa-quote-left fa-lg"></i>
                                </div>
                                <p class="text-center m-0">{{ review.content }}</p>
                                <div class="down-quote">
                                <i class="fa-solid fa-quote-right fa-lg"></i>
                                </div>
                            </div>
                            <!-- review-item-info -->
                            <div class="review__item__info">
                                <!-- review-item-proflie -->
                                <a href="{% url 'accounts:detail' review.user.pk %}">
                                <div class="review__item__proflie">
                                    <div class="review__item__img">
                                    <img src="{{ review.user.user_image }}" style="width: 35px; height: 35px;" alt="review-write-image">
                                    </div>
                                    <div class="review__item__username">
                                    {{ review.user.username }}
                                    </div>
                                </div>
                                </a>
                                <!-- review-item-button -->
                                <div class="review__item__btn">
                                <!-- review-like-form -->
                                <form class="like-forms" data-review-id="{{ review.pk }}">
                                    {% csrf_token %}
                                    {% if user in review.like_user.all %}
                                    <button id="like-{{ review.pk }}" type="submit">
                                    <i id="heart-{{ review.pk }}" class="fa-solid fa-heart fa-lg" style="font-size: 18px;"></i>
                                    </button>
                                    {% else %}
                                    <button id="like-{{ review.pk }}" type="submit">
                                    <i id="heart-{{ review.pk }}" class="fa-regular fa-heart fa-lg" style="font-size: 18px;"></i>
                                    </button>
                                    {% endif %}
                                </form>
                                <!--공유하기-->
                                <i type="button" class="fa-solid fa-share-nodes fa-lg" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">공유하기</h1>
                                        </div>
                                        <div class="modal-body">
                                          <div class="d-flex justify-content-center">
                                            <a href="javascript:sendLinkFacebook()"><i class="bi bi-facebook mx-3" style="font-size: 52px;"></i></a>
                                            <a href="javascript:sendLinkTwitter()"><i class="bi bi-twitter mx-3" style="font-size: 52px;"></i></a>
                                            <script>
                                                    function sendLinkFacebook(){
                                        var facebook_share_url = "https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}";
                                        window.open(facebook_share_url,
                                                    'Share on Facebook',
                                                    'scrollbars=no, width=500, height=500');
                                        } 
                                    
                                        function sendLinkTwitter(){
                                        var twitter_share_text="{{ post.title }}";
                                        var twitter_share_url="{{ request.build_absolute_uri }}";
                                        window.open("https://twitter.com/share?text="+twitter_share_text+"&url="+twitter_share_url,
                                                    'Share on Twitter',
                                                    'scrollbars=no, width=500, height=500');
                                        }
                                            </script>
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- review-item-tag -->
                            <div class="review-item-tag mt-2 pe-2 d-flex justify-content-between align-items-center">
                                <div class="review-item-tags">
                                {% get_tags_for_object review as "tags" %}
                                {% for tag in tags %}
                                    #{{tag}}
                                {% endfor %}
                                </div>
                                <div class="created-date">
                                {% if review.created_string == False %}
                                {{ review.registered_date|date:'m월 d일' }}
                                {% else %}
                                {{ review.created_string }}
                                {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <img class="bookReviewCardImage border" src="{{ review.image.url }}" alt="">
                            <!-- review-item-info -->
                            <div class="review__item__info">
                                <!-- review-item-proflie -->
                                <a href="{% url 'accounts:detail' review.user.pk %}">
                                <div class="review__item__proflie">
                                    <div class="review__item__img">
                                    <img src="{{ review.user.user_image }}" style="width: 35px; height: 35px;" alt="review-write-image">
                                    </div>
                                    <div class="review__item__username">
                                    {{ review.user.username }}
                                    </div>
                                </div>
                                </a>
                                <!-- review-item-button -->
                                <div class="review__item__btn">
                                <!-- review-like-form -->
                                <form class="like-forms" data-review-id="{{ review.pk }}">
                                    {% csrf_token %}
                                    {% if user in review.like_user.all %}
                                    <button id="like-{{ review.pk }}" type="submit">
                                    <i id="heart-{{ review.pk }}" class="fa-solid fa-heart fa-lg" style="font-size: 18px;"></i>
                                    </button>
                                    {% else %}
                                    <button id="like-{{ review.pk }}" type="submit">
                                    <i id="heart-{{ review.pk }}" class="fa-regular fa-heart fa-lg" style="font-size: 18px;"></i>
                                    </button>
                                    {% endif %}
                                </form>
                                <i class="fa-solid fa-share-nodes fa-lg" style="font-size: 18px;"></i>
                                </div>
                            </div>
                            <!-- review-item-tag -->
                            <div class="review-item-tag mt-2 px-2 d-flex justify-content-between align-items-center">
                                <div class="review-item-tags">
                                {% get_tags_for_object review as "tags" %}
                                {% for tag in tags %}
                                    #{{tag}}
                                {% endfor %}
                                </div>
                                <div class="created-date">
                                {% if review.created_string == False %}
                                {{ review.registered_date|date:'m월 d일' }}
                                {% else %}
                                {{ review.created_string }}
                                {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="m-5 d-flex flex-column align-items-center">
                        <p style="color: var(--gray-dark-color);" class="m-0">좋아요한 리뷰가 없어요...</p>
                        <!-- 리뷰 작성 버튼 -->
                        <a href="{% url 'reviews:index' %}" type="button" class="btn btn--main my-3">리뷰 구경하기</a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        <!-- 탭3 : 좋아요 책 -->
        <div id="content3" class="tab-content">
            <!-- 좋아요한 책 리스트 -->
            {% if book_likes %}
            <div class="row gx-5 w-100 mx-auto">
                {% for book in book_likes %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 tab-card justify-content-end">
                    <img class="border tab-book-img" src="{{ book.bookcover }}" alt="bookcover" style="cursor: pointer;"
                        onclick="location.href='{% url 'books:detail' book.pk %}';">
                    <p class="tab-book-title">{{ book.bookname }}</p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="w-100 m-5 d-flex flex-column align-items-center">
                <p style="color: var(--gray-dark-color);" class="m-0">책이 하나도 없어요...</p>
                <a href="{% url 'books:index' %}" class="btn btn--main my-3">책 보러가기</a>
            </div>
            {% endif %}
        </div>

        <!-- 탭4 : 개최한 모임 -->
        <div id="content4" class="tab-content">
            <div class="row gx-5 w-100 mx-auto">
                {% for group in user_groups %}
                <div class="col-12 col-md-6 col-lg-3" style="cursor: pointer;"
                  onclick="location.href='{% url 'groups:detail' group.pk %}';">
                  <div class="card w-100 mb-5 mx-auto">
                    <div class="card-image" style="height: 250px;">
                      <img src="{{ group.image.url }}" class="card-img-top" alt="metting-image" style="height: 100%;">
                    </div>
                    <div class="card-body">
                      <p class="card-title" style="margin-bottom: 10px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical; font-weight: 600;">{{ group.title }}</p>
                      <p class="card-text" style="font-size: 14px; color: var(--gray-dark-color);">장소: {{ group.place }} <br>인원: {{ group.number }}명 <br> 
                        일시: {{ group.meeting_date|date:"m.d A h:i" }} <br> 모집 마감일: {{ group.end_date |date:"m.d A h:i" }}까지</p>
                    </div>
                  </div>
                </div>
                {% empty %}
                <div class="my-5 d-flex flex-column align-items-center">
                  <p style="color: var(--gray-dark-color);" class="m-0">개최한 모임이 없어요...</p>
                  <a href="{% url 'groups:create' %}" class="btn btn--main my-3">모임 개최하기</a>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- 탭5 : 신청한 모임 -->
        <div id="content5" class="tab-content">
            <!-- 신청한 모임 리스트 -->
            <div class="row gx-5 w-100 mx-auto">
                {% for group in user_like_groups %}
                <div class="col-12 col-md-6 col-lg-3" style="cursor: pointer;"
                  onclick="location.href='{% url 'groups:detail' group.pk %}';">
                  <div class="card w-100 mb-5 mx-auto">
                    <div class="card-image" style="height: 250px;">
                      <img src="{{ group.image.url }}" class="card-img-top" alt="metting-image" style="height: 100%;">
                    </div>
                    <div class="card-body">
                      <p class="card-title" style="margin-bottom: 10px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical; font-weight: 600;">{{ group.title }}</p>
                      <p class="card-text" style="font-size: 14px; color: var(--gray-dark-color);">장소: {{ group.place }} <br>인원: {{ group.number }}명 <br> 
                        일시: {{ group.meeting_date|date:"m.d A h:i" }} <br> 모집 마감일: {{ group.end_date |date:"m.d A h:i" }}까지</p>
                    </div>
                  </div>
                </div>
                {% empty %}
                <div class="my-5 d-flex flex-column align-items-center">
                    <p style="color: var(--gray-dark-color);" class="m-0">신청한 모임이 없어요...</p>
                    <a href="{% url 'groups:index' %}" class="btn btn--main my-3">모임 구경하기</a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>


<!-- JS -->
<!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Follow -->
<script>
    const Form = document.querySelector('#follow-form')
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

Form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
        method: 'post',
        url: `/accounts/${userId}/follow/`,
        headers: { 'X-CSRFToken': csrftoken, }
    })
        .then((response) => {
            const isFollowed = response.data.is_followed
            const followBtn = document.querySelector('#follow-form > input[type=submit]')
            if (isFollowed === true) {
                followBtn.value = '언팔로우'
                followBtn.classList.add('btn--main--reverse')
                followBtn.classList.remove('btn--main')
            } else {
                followBtn.value = '팔로우'
                followBtn.classList.add('btn--main')
                followBtn.classList.remove('btn--main--reverse')
            }
            const followersCountTag = document.querySelector('#followers-count')
            const followingsCountTag = document.querySelector('#followings-count')
            const followersCount = response.data.followers_count
            const followingsCount = response.data.followings_count
            followersCountTag.innerText = followersCount
            followingsCountTag.innerText = followingsCount
        })
        .catch((error) => {
            console.log(error.response)
        })
})

// 리뷰 작성 모달
const wording = document.querySelector(".record-wording");
const wordingIcon = wording.querySelector('lord-icon');
const wordingHtag = wording.querySelector('h5');
const photo = document.querySelector('.record-photo');
const photoIcon = photo.querySelector('lord-icon');
const photoHtag = photo.querySelector('h5');

wording.addEventListener('mouseenter', () => {
    wordingIcon.setAttribute('colors', 'primary:#92B4EC,secondary:#92B4EC');
    wordingHtag.style.color = '#92B4EC';
});
wording.addEventListener('mouseleave', () => {
    wordingIcon.setAttribute('colors', 'primary:#6c757d,secondary:#6c757d');
    wordingHtag.style.color = '#6c757d';
});
photo.addEventListener('mouseenter', () => {
    photoIcon.setAttribute('colors', 'primary:#92B4EC,secondary:#92B4EC');
    photoHtag.style.color = '#92B4EC';
});
photo.addEventListener('mouseleave', () => {
    photoIcon.setAttribute('colors', 'primary:#6c757d,secondary:#6c757d');
    photoHtag.style.color = '#6c757d';
});

</script>

<!-- Likes -->
<script>
    const forms = document.querySelectorAll('.like-forms')

    forms.forEach((form) => {
        form.addEventListener('submit', function (evnet) {
            event.preventDefault();
            const reviewId = event.target.dataset.reviewId
            // request axios
            axios({
                method: 'post',
                url: `/reviews/${reviewId}/like/`,
                headers: { 'X-CSRFToken': csrftoken }, // csrf token
            })
                // response views
                .then((response) => {
                    const isLiked = response.data.is_liked
                    const likeBtn = document.querySelector(`#like-${reviewId}`)
                    const heartBtn = document.querySelector(`#heart-${reviewId}`)
                    if (isLiked === true) {
                        heartBtn
                            .classList
                            .remove('fa-regular')
                        heartBtn
                            .classList
                            .add('fa-solid')
                        heartBtn.style.color = 'var(--main-color)';
                    } else {
                        heartBtn
                            .classList
                            .remove('fa-solid')
                        heartBtn
                            .classList
                            .add('fa-regular')
                        heartBtn.style.color = 'var(--main-color)';
                    }
                })
                .catch((error) => {
                    console.log(error.response)
                })
        })
    })
</script>

{% endblock content %}