{% extends 'base.html' %}


{% block content %}
{% if request.user.is_authenticated %}
  <p>{{ request.user }}님</p>
  <div>회원정보
    <div>
      <!-- 전체 유저 정보 -->
      {% for user in users  %}
      <a href="{% url 'accounts:detail' user.pk %}">{{ user }}</a> 
      {% endfor %}
      <!-- 로그아웃 -->
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="logout">
      </form>
      <!-- 회원탈퇴 -->
      <a href="{% url 'accounts:delete_check' %}">탈퇴하기</a> 
    </div>
  </div>

{% else %}
  <div>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
  </div> 
  <div>
    <a href="{% url 'accounts:login' %}">로그인</a>
  </div>
{% endif %}

 

{% endblock content %}
  