{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% include 'nav.html' %}

<div class="container login">
  <!-- help box -->
  <div class="login-help-box p-5">
    <h4 class="text-center mb-4">로그인에 어려움이 있나요?</h4>
    <!-- help content -->
    <div class="my-5">
        <p class="text-center">로그인에 어려움이 있다면 아래 이메일로 문의해주세요.</p>
        <p class="text-center">편리한 이용을 위해 계속해서 발전하는 책:오가 되겠습니다 :)</p>
    </div>
    <p class="text-center">👇 문의하기 클릭 👇</p>
    <!-- sumbit -->
    <a class="btn btn--main--reverse w-100" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=ericaforcoding@gmail.com" target="_blank">ericaforcoding@gmail.com<a>
  </div>
</div>

{% endblock content %}