{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% include 'nav.html' %}

<div class="container signup">
  <!-- signup form -->
  <form class="signup-form p-5" action="" method="POST">
    <h4 class="text-center mb-4">회원가입</h4>
    {% csrf_token %}
    <!-- input -->
    <div class="mb-3">
      <label class="form-label" for="id_username">이름</label>
      <input type="text" name="username" maxlength="150" autofocus="" class="form-control" placeholder="이름" required="" id="id_username">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_password1">비밀번호</label>
      <input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="비밀번호" required="" id="id_password1">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_password2">비밀번호 확인</label>
      <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="비밀번호 확인" required="" id="id_password2">
    </div>
    <fieldset class="mb-3">
      <label class="form-label" for="id_interest">관심분야</label>
      <div class="interest">
        <input class="radioInp" type="radio" id="총류" name="interest" value="총류" checked><label for="총류">총류</label>
        <input class="radioInp" type="radio" id="철학" name="interest" value="철학"><label for="철학">철학</label>
        <input class="radioInp" type="radio" id="종교" name="interest" value="종교"><label for="종교">종교</label>
        <input class="radioInp" type="radio" id="사회과학" name="interest" value="사회과학"><label for="사회과학">사회과학</label>
        <input class="radioInp" type="radio" id="자연과학" name="interest" value="자연과학"><label for="자연과학">자연과학</label>
        <input class="radioInp" type="radio" id="기술과학" name="interest" value="기술과학"><label for="기술과학">기술과학</label>
        <input class="radioInp" type="radio" id="예술" name="interest" value="예술"><label for="예술">예술</label>
        <input class="radioInp" type="radio" id="언어" name="interest" value="언어"><label for="언어">언어</label>
        <input class="radioInp" type="radio" id="문학" name="interest" value="문학"><label for="문학">문학</label>
        <input class="radioInp" type="radio" id="역사" name="interest" value="역사"><label for="역사">역사</label>
      </div>
    </fieldset>
    <!-- sumbit -->
    <input class="btn btn--main--reverse w-100 mb-3" type="submit" value="등록하기">
  </form>
</div>

{% endblock content %}