/* login */
.login {
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 550px;
  height: 420px;
  border: solid 1px var(--gray-light-color);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.login-help {
  text-decoration: none;
  margin: 0 10px;
  opacity: .8;
  color: var(--dark-color);
}

.login-help:hover {
  text-decoration: none;
  opacity: 1;
  color: var(--dark-color);
  font-weight: 500;
}

/* login help */
.login-help-box {
  width: 550px;
  border: solid 1px var(--gray-light-color);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}