/* Main-swiper */
section.main-swiper {
  margin-top: 90px;
}

.mainSwiper {
  width: 100%;
  border-radius: 20px;
}

.mainSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mainSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.mainSwiper .swiper-pagination {
  background-color: transparent;
  position: absolute;
  top: 99.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
}

.mainSwiper .swiper-pagination-progressbar-fill {
  background-color: var(--white-color);
}


/* Main-book & Main-review & Main-metting */
.main-book .container,
.main-review .container,
.main-metting .container {
  position: relative;
}

.mb__top,
.mr__top,
.mm__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.mb__top a,
.mr__top a,
.mm__top a {
  position: absolute;
  right: 22px;
  margin: 0;
  opacity: .5;
  transition: opacity ease-in-out .2s;
}

.mb__top a:hover,
.mr__top a:hover,
.mm__top a:hover {
  opacity: 1;
}

.mb__list,
.mr__list,
.mm__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0 30px;
}

.mb__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mb__list__image,
.mr__item__content {
  position: relative;
}

.image-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mb__list__item:hover .image-cover {
  visibility: visible;
  opacity: 1;
}

.mb__list__item img {
  width: 200px;
  height: 300px;
  border-radius: 0 15px 15px 0;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .3);
}

.mb__list__item__text p {
  font-size: 14px;
  color: var(--dark-color);
  margin-top: 10px;
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.mb__list__item__text p:last-child {
margin-bottom: 8px;
}

/* Main-review */
.mr__list {
  justify-items: center;
}

.mr__list__item,
.mm__list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}

.mr__item__content {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  padding: 18px;
  font-family: 'Noto serif KR', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .1);
}

.mr__item__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.mr__item__writer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0 16px 3px;
}

.mr__item__writer-image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.mr__item__writer-name p {
  margin: 0;
  font-size: 14px;
  margin-left: 8px;
}

/* Main-metting */
.main-metting {
  margin-bottom: 30px;
}

.mm__list__item .card {
  width: 350px;
}

.mm__list__item .card .card-image {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  height: 250px;
}

.mm__list__item .card img {
  object-fit: cover;
  transform: scale(1.0);
  transition: transform .5s;
  border-radius: 5px 5px 0 0;
  height: 100%;
}

.mm__list__item .card img:hover {
  transform: scale(1.2);
  transition: transform .5s;
}


/* Main-media */
@media screen and (max-width: 1200px) {
  .mr__list,
  .mm__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }
}

@media screen and (max-width: 992px) {
  .mr__list,
  .mm__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  }
}

@media screen and (max-width: 768px) {
  .mb__list .mb__list__item:nth-child(2) {
    display: none;
  }

  .mr__list,
  .mm__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .mr__list__item {
    width: 100%;
    height: 500px;
  }

  .mr__item__content {
    width: 100%;
    height: 445px;
    font-size: 20px;
  }

  .mm__list__item .card {
    width: 100%;
  }
}