body {
  overflow-x: hidden;

}


.onboarding-intro1 {
  display: flex;
  width: 100%;
  height: 600px;
}

.onboarding-intro1-textbox {
  width: 50%;
  background-color: var(--main-color);
}

.onboarding-intro1-textbox img {
  display: block;
  margin: auto;

}

.onboarding-intro1-textbox p {
  color: var(--yellow-color);
  font-family: 'Noto serif KR';
  font-size: var(--xlarge-font);
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: keep-all;
  width: 50%;
}

.onboarding-intro1-logobox {
  position: relative;
}

.onboarding-intro1-imgbox {
  width: 50%;
  overflow: hidden;
}

.onboarding-intro1-imgbox>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.onboarding-intro1-mo {
  width: 100%;
  height: 600px;
  display: none;
  overflow: hidden;

}

.onboarding-intro1-mo-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.onboarding-intro1-mo-wrap {
  position: relative;
}

.onboarding-intro1-mo-lg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box {
  font-size: var(--xlarge-font);

}



@media screen and (max-width: 992px) {
  .text-box {
    font-size: 1.2rem;
  }

}


@media screen and (max-width: 992px) {
  .onboarding-intro1-textbox p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {

  .onboarding-intro1 {
    display: none;
  }

  .onboarding-intro1-textbox {
    display: none;
  }

  .onboarding-intro1-imgbox {
    display: none;
  }

  .onboarding-intro1-mo {
    display: block;

  }

}

/* 온보딩 카드 설명 */

.onboarding-intro2 {
  display: flex;
  justify-content: space-between;
}

.onboarding-intro2-textbox {
  margin: auto 0;
  justify-content: center;
  text-align: left;
}

.onboarding-intro2-textbox p {
  font-size: var(--large-font);
}

@media screen and (max-width: 992px) {
  .onboarding-intro2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

@media screen and (max-width: 992px) {
  .onboarding-intro2-textbox p {
    font-size: var(--middle-font);
  }
}


.onboarding-card-text {
  text-align: center;
}

.slide-title {
  text-align: center;
}

/* 온보딩 캐러셀  */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .swiper-slide {
    margin: 10 10px;
  }

  .card {
    margin: 10 10px;
  }
}

.onboarding-outro-text {
  margin-top: 150px;
}


/*모바일 전용 버튼 */

.onboarding-mo-btn-div .btn.btn--yellow--reverse {
  display: none;
}

/*모바일 전용 아웃트로 */

.onboarding-mo-outro {
  display: none;
}


@media screen and (max-width: 992px) {
  .onboarding-mo-btn-div .btn.btn--yellow--reverse {
    display: block;
    font-size: 16px;
    font-weight: 600;
    width: 350px;
    position: fixed;
    justify-content: center;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 100;
  }

  .onboarding-mo-outro {
    display: block;
    background-color: var(--gray-light-color);
    padding: 80px 80px 10px 80px;
  }

  .onboarding-mo-outro img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }

  .onboarding-mo-outro-mp p {
    margin-top: 10px;
    text-align: center;
    font-family: 'Noto Serif KR';
    font-weight: 400;
    font-size: 20px;
  }

  .onboarding-mo-outro-sp {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Noto Serif KR';
    font-weight: 400;
    font-size: 14px;
  }

  .onboarding-web-outro {
    display: none;
  }
}


.onboarding-mo-btn-div .btn.btn--yellow {
  color: var(--yellow-color);
  border-color: var(--yellow-color);
}

s .onboarding-mo-btn-div .btn.btn--yellow:hover {
  color: #fff;
  background-color: var(--yellow-color);
}

.onboarding-mo-btn-div .btn.btn--yellow--reverse {
  color: black;
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
}

.onboarding-mo-btn-div .btn.btn--yellow--reverse:hover {
  color: var(--yellow-color);
  background-color: #fff;

}

.onboarding-web-btn-div .btn.btn--yellow--reverse {}



/* 온보딩 아웃트로 웹 */

.onboarding-web-outro {
  width: 100%;
  height: 600px;

}

.onboarding-web-outro-bg {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: absolute;


}

.onboarding-web-outro-logo {
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.onboarding-web-outro-text {
  position: relative;
  font-family: 'Noto Serif KR';
  top: -45%;
  left: 45%;
}

.onboarding-web-outro-mp p {
  font-size: 32px;
  color: var(--yellow-color);
}

.onboarding-web-outro-sp p {
  font-size: 16px;
  color: white;
}

.onboarding-web-btn-div {
  position: relative;
  top: -45%;
  left: 45%;
}

.onboarding-web-btn-div .btn.btn--yellow--reverse {
  color: #fff;
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
  cursor: pointer;
}

.onboarding-web-btn-div .btn.btn--yellow--reverse:hover {
  color: var(--yellow-color);
  background-color: #fff;

}

/* Book-reviews-swiper */
.bookReviewSwiper {
  width: 100%;
  height: 100%;
  padding: 0 12px;
}

.bookReviewSwiper .swiper-slide {
  text-align: start;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bookReviewSwiper .swiper-slide .card {
  width: 220px;
  height: 220px;
  padding: 10px 12px;
  font-family: 'Noto serif KR';
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .1);
}

.bookReviewSwiper .swiper-slide a {
  width: 100%;
  height: 100%;
}