/* Search-top */
.search-top {
  margin-top: 120px;
  text-align: center;
}

.search-query {
  color: var(--main-color);
  font-size: 28px;
}

.search-top h5 {
  margin: 30px 0;
  color: var(--dark-color);
}

.search-form-wrap {
  position: relative;
  margin: auto;
  width: 700px;
}

.search-input {
  width: 100%;
  height: 65px;
  border: 0;
  border-radius: 35px;
  padding: 0 30px 0 50px;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.search-input:focus {
  border: 1px solid var(--main-color);
}

.search-form-wrap i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  font-size: 24px;
}

.focused {
  color: var(--main-color);
}

/* Search-tab  */
.search-tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.search-tab input {
  display: none;
}

.search-tab label:hover {
  cursor: pointer;
}

.search-tab input:checked+label {
  border: none;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
}

.search-tab input:not(:checked)+label {
  border: none;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 10px;
}

.s-tab-content {
  position: relative;
  width: 100%;
  display: none;
  border-top: 2px solid var(--main-color);
  padding: 75px 10px;
  justify-content: center;
}

#s-tab1:checked~#s-content1,
#s-tab2:checked~#s-content2,
#s-tab3:checked~#s-content3,
#s-tab4:checked~#s-content4 {
  display: flex;
}

.s-tab-card .tab-book-title {
  min-height: 85px;
  text-align: center;
}

.s-tab-card .tab-book-title p {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.s-tab-card img {
  transition: all ease-in-out .3s;
}

.s-tab-card img:hover {
  transform: scale(1.05);
}

.ellipsis {
  padding: 0; 
  font-size: 14px; 
  color: var(--dark-color);
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .search-form-wrap {
    width: 500px;
  }
  .search-input {
    height: 55px;
  }
  .accounts-review-list {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .search-form-wrap {
    width: 400px;
  }
  .search-input {
    height: 45px;
  }
}