<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- logo -->
      <div class="col-4 col-md-6 info-box">
        <a href="{% url 'books:main' %}">
          <img src="https://cdn.discordapp.com/attachments/1044493745292316713/1047036959673045042/17.png" alt="" width="180" height="180">
        </a>
        <div class="d-none d-sm-none d-md-block">
          <p class="footer-txt">소속 | [KDT1] 풀스택 개발자 취업캠프</p>
          <p class="footer-txt">팀명 | (만)20대i들</p>
          <p class="footer-txt">기간 | 2022.11.24(목)~2022.12.14(수)</p>
          <p class="footer-txt">© 책:오 2022. All Rights Reserved.</p>
        </div>
      </div>
      <!-- members list -->
      <div class="col-8 col-md-6 members-box">
        <div class="members-github" style="cursor: pointer;" onclick="location.href='https://github.com/minw0095';">
          <img src="https://avatars.githubusercontent.com/u/108658488?v=4" alt="이름" width="35" height="35" class="members-img rounded-circle" />
          <p class="footer-txt">강민우</p>
        </div>
        <div class="members-github" style="cursor: pointer;" onclick="location.href='https://github.com/ericaforcoding';">
          <img src="https://avatars.githubusercontent.com/u/108647467?v=4" alt="이름" width="35" height="35" class="members-img rounded-circle" />
          <p class="footer-txt">오진수</p>
        </div>
        <div class="members-github" style="cursor: pointer;" onclick="location.href='https://github.com/danny7128';">
          <img src="https://avatars.githubusercontent.com/u/108653098?v=4" alt="이름" width="35" height="35" class="members-img rounded-circle" />
          <p class="footer-txt">이성훈</p>
        </div>
        <div class="members-github" style="cursor: pointer;" onclick="location.href='https://github.com/Jobyeongjin';">
          <img src="https://avatars.githubusercontent.com/u/103917901?v=4" alt="이름" width="35" height="35" class="members-img rounded-circle" />
          <p class="footer-txt">조병진</p>
        </div>
        <div class="members-github" style="cursor: pointer;" onclick="location.href='https://github.com/ccmmaa1030';">
          <img src="https://avatars.githubusercontent.com/u/108647768?v=4" alt="이름" width="35" height="35" class="members-img rounded-circle" />
          <p class="footer-txt">최민아</p>
        </div>
      </div>
    </div>
  </div>
</footer>