{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'nav.html' %}


<!-- Book-index -->
<div class="container book_index">

  <!-- Intro -->
  <div class="book_index_intro" style="margin-bottom: 30px;">
    <h3> 도서 목록</h3>
    <p style="font-size: 20px;"><span style="font-size: 20px; color: var(--main-color);">{{ count }}</span>권의 책이 있어요. <br>책:오에서 궁금했던 책을 발견해 보세요.</p>
  </div>

  <!-- search-form -->
  <div class="book-search-form-wrap">
    <form class="search-top-form" action="{% url 'books:search' %}" method="get">
        <input class="book-search-input" type="search" name="search" id="q" placeholder="검색어를 입력하세요.">
    </form>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  

  <!--Masonry layout-->
  <ul class="infinite p-0">
    <div class="masonry-container inflist">
      {% for book in book_list %}
      <li class="masonry-item" width="18rem">
        <img style="cursor: pointer;" onclick="location.href='{% url 'books:detail' book.pk %}';" class="bookcover" src="{{ book.bookcover }}" alt="bookcover" width="100%" height="auto">
        <p> {{ book.bookname }}</p>
      </li>
      {% endfor %}
    </div>
  </ul>
  <!-- Pagination -->
  <div class="pagination" style="display:none;">
    {% if book_list.has_other_pages %}
    <ul>
      {% if book_list.has_previous %}
        <li><a href="?&page={{ book_list.previous_page_number }}" class="prevPage">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
        <li class="totalpagenum">{{totalpagenum}}</li>
      {% if book_list.has_next %}
        <li><a href="?&page={{ book_list.next_page_number }}" class="nextPage">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>


  <div class="write-gb-top">
    <a type="button" href="#">
        <lord-icon
            src="https://cdn.lordicon.com/hpxruznz.json"
            trigger="hover"
            colors="primary:#6c757d"
            style="width:50px;height:100px">
        </lord-icon>
    </a>
  </div>
  <!-- Write-global-button -->
  <div class="write-gb">
    <button type="button" data-bs-toggle="modal" data-bs-target="#review-guide">
      <lord-icon
        src="https://cdn.lordicon.com/puvaffet.json"
        trigger="hover"
        colors="primary:#6c757d,secondary:#92B4EC"
        >
      </lord-icon>
    </button>
  </div>
  <!-- reivew-guide-modal -->
  <div class="modal fade" id="review-guide" tabindex="-1" aria-labelledby="review-guide" aria-hidden="true">
    <!-- modal-dialog -->
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- modal-body -->
        <div class="modal-body">
          <p class="record-text">기록할 유형을 선택해주세요 ✍️</p>
          <!-- Record-wrap -->
          <div class="record-wrap">
            <!-- record-wording -->
            <a href="{% url 'reviews:pk_create_txt' %}">
              <div class="record-wording">
                <lord-icon
                  src="https://cdn.lordicon.com/nocovwne.json"
                  trigger="hover"
                  colors="primary:#6c757d,secondary:#6c757d"
                  stroke="30"
                  style="width:250px;height:250px">
                </lord-icon>
                <h5 class="word">문장 기록</h5>
              </div>
            </a>
            <!-- record-photo -->
            <a href="{% url 'reviews:pk_create_img' %}">
              <div class="record-photo">
                <lord-icon
                  src="https://cdn.lordicon.com/vixtkkbk.json"
                  trigger="hover"
                  colors="primary:#6c757d,secondary:#6c757d"
                  stroke="30"
                  style="width:250px;height:250px">
                </lord-icon>
                <h5>사진 기록</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Book-index-End -->
<div class="findme" style="width:auto; height:400px;">
<!-- 검색목록 -->
<script>
  $( function() {
    var availableTags = [
        {% for book in books %}
            "{{book.bookname}}",
        {% endfor %}
    ];
    $( "#q" ).autocomplete({
      source: availableTags
    });
  } );
</script>
</div>


<!-- JS -->
<!-- Masonry-layout -->
<script>
  function masonryLayout() {
    const masonryContainerStyle = getComputedStyle(
        document.querySelector(".masonry-container")
    );
    const columnGap = parseInt(
        masonryContainerStyle.getPropertyValue("column-gap")
    );
    const autoRows = parseInt(
        masonryContainerStyle.getPropertyValue("grid-auto-rows")
    );

    document.querySelectorAll(".masonry-item").forEach((elt) => {
        elt.style.gridRowEnd = `span ${Math.ceil(
            elt.querySelector(".bookcover").scrollHeight / autoRows +
                columnGap / autoRows
        )}`;
    });
}

masonryLayout();
window.addEventListener("resize", masonryLayout);
</script>

<!-- review-create-modal -->
<script>
  // reivew-create-modal
  const wording = document.querySelector(".record-wording");
  const wordingIcon = wording.querySelector('lord-icon');
  const wordingHtag = wording.querySelector('h5');
  const photo = document.querySelector('.record-photo');
  const photoIcon = photo.querySelector('lord-icon');
  const photoHtag = photo.querySelector('h5');

  wording.addEventListener('mouseenter', () => {
      wordingIcon.setAttribute('colors', 'primary:#92B4EC,secondary:#92B4EC');
      wordingHtag.style.color = '#92B4EC';
  });
  wording.addEventListener('mouseleave', () => {
      wordingIcon.setAttribute('colors', 'primary:#6c757d,secondary:#6c757d');
      wordingHtag.style.color = '#6c757d';
  });
  photo.addEventListener('mouseenter', () => {
      photoIcon.setAttribute('colors', 'primary:#92B4EC,secondary:#92B4EC');
      photoHtag.style.color = '#92B4EC';
  });
  photo.addEventListener('mouseleave', () => {
      photoIcon.setAttribute('colors', 'primary:#6c757d,secondary:#6c757d');
      photoHtag.style.color = '#6c757d';
  });
</script>

<!-- Infinite -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/infinite.js' %}"></script>
<script src="{% static 'js/write-btn.js' %}"></script>
{% endblock content %}
