{% extends 'base.html' %}



{% block content %}
{% include 'nav.html' %}

<!-- Main-swiper -->
<section class="main-swiper">
  <div class="container">
    <!-- Swiper -->
    <div class="swiper mainSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/564x/2c/1f/91/2c1f9177b5756d4a7e94f58cd0cbc134.jpg" alt="main-swiper-image">
        </div>
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/564x/52/47/db/5247db0a938fefe5ddc73925f0e4b9ce.jpg" alt="main-swiper-image">
        </div>
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/736x/00/26/eb/0026eb6c09d0600f1193386e24e47b6d.jpg" alt="main-swiper-image">
        </div>
        <div class="swiper-slide">
          <img src="https://i.pinimg.com/564x/2e/94/a5/2e94a52374602d8ff975cc64da37e5d2.jpg" alt="main-swiper-image">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>


<!-- Main-book -->
<section class="main-book">
  <div class="container">
    <!-- Main-book-top -->
    <div class="mb__top">
      <h3 class="mb__title">인기 도서 목록</h3>
      <a href="#">
        <span class="me-1">더보기</span><i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
    <!-- Main-book-list -->
    <div class="mb__list">
      <div class="mb__list__item">
        <div class="mb__list__image">
          <div class="image-cover">
            <p class="m-0"><i class="fa-solid fa-pencil"></i> 카운트</p>
            <p><i class="fa-solid fa-heart"></i> 카운트</p>
          </div>
          <img src="https://i.pinimg.com/564x/93/f3/8e/93f38e0f6cc6802ac3fb4427def5e676.jpg" alt="">
        </div>
        <p>(책 제목/저자)</p>
      </div>
      <div class="mb__list__item">
        <div class="mb__list__image">
          <div class="image-cover">
            <p class="m-0"><i class="fa-solid fa-pencil"></i> 카운트</p>
            <p><i class="fa-solid fa-heart"></i> 카운트</p>
          </div>
          <img src="https://i.pinimg.com/564x/93/f3/8e/93f38e0f6cc6802ac3fb4427def5e676.jpg" alt="">
        </div>
        <p>(책 제목/저자)</p>
      </div>
      <div class="mb__list__item">
        <div class="mb__list__image">
          <div class="image-cover">
            <p class="m-0"><i class="fa-solid fa-pencil"></i> 카운트</p>
            <p><i class="fa-solid fa-heart"></i> 카운트</p>
          </div>
          <img src="https://i.pinimg.com/564x/93/f3/8e/93f38e0f6cc6802ac3fb4427def5e676.jpg" alt="">
        </div>
        <p>(책 제목/저자)</p>
      </div>
      <div class="mb__list__item">
        <div class="mb__list__image">
          <div class="image-cover">
            <p class="m-0"><i class="fa-solid fa-pencil"></i> 카운트</p>
            <p><i class="fa-solid fa-heart"></i> 카운트</p>
          </div>
          <img src="https://i.pinimg.com/564x/93/f3/8e/93f38e0f6cc6802ac3fb4427def5e676.jpg" alt="">
        </div>
        <p>(책 제목/저자)</p>
      </div>
      
    </div>
  </div>
</section>


<!-- Main-review -->
<section class="main-review">
  <div class="container">
    <!-- Main-review-top -->
    <div class="mr__top">
      <h3 class="mr__title">인기 리뷰 목록</h3>
      <a href="#">
        <span class="me-1">더보기</span><i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
    <!-- Main-review-list -->
    <div class="mr__list">
      <div class="mr__list__item">
        <div class="mr__item__content">
          (리뷰 내용)
        </div>
        <div class="mr__item__writer">
          <div class="mr__item__writer-image">
            <img src="https://postfiles.pstatic.net/MjAyMDExMDFfMTA1/MDAxNjA0MjI4ODc1Mzk0.05ODadJdsa3Std55y7vd2Vm8kxU1qScjh5-3eVJ9T-4g.h7lHansSdReVq7IggiFAc44t2W_ZPTPoZWihfRMB_TYg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EB%9E%91.jpg?type=w773" alt="review-writer-image">
          </div>
          <div class="mr__item__writer-name">
            <p>(작성자 이름)</p>
          </div>
        </div>
      </div>
      <div class="mr__list__item">
        <div class="mr__item__content">
          (리뷰 내용)
        </div>
        <div class="mr__item__writer">
          <div class="mr__item__writer-image">
            <img src="https://postfiles.pstatic.net/MjAyMDExMDFfMTA1/MDAxNjA0MjI4ODc1Mzk0.05ODadJdsa3Std55y7vd2Vm8kxU1qScjh5-3eVJ9T-4g.h7lHansSdReVq7IggiFAc44t2W_ZPTPoZWihfRMB_TYg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EB%9E%91.jpg?type=w773" alt="review-writer-image">
          </div>
          <div class="mr__item__writer-name">
            <p>(작성자 이름)</p>
          </div>
        </div>
      </div>
      <div class="mr__list__item">
        <div class="mr__item__content">
          (리뷰 내용)
        </div>
        <div class="mr__item__writer">
          <div class="mr__item__writer-image">
            <img src="https://postfiles.pstatic.net/MjAyMDExMDFfMTA1/MDAxNjA0MjI4ODc1Mzk0.05ODadJdsa3Std55y7vd2Vm8kxU1qScjh5-3eVJ9T-4g.h7lHansSdReVq7IggiFAc44t2W_ZPTPoZWihfRMB_TYg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EB%9E%91.jpg?type=w773" alt="review-writer-image">
          </div>
          <div class="mr__item__writer-name">
            <p>(작성자 이름)</p>
          </div>
        </div>
      </div>
      <div class="mr__list__item">
        <div class="mr__item__content">
          (리뷰 내용)
        </div>
        <div class="mr__item__writer">
          <div class="mr__item__writer-image">
            <img src="https://postfiles.pstatic.net/MjAyMDExMDFfMTA1/MDAxNjA0MjI4ODc1Mzk0.05ODadJdsa3Std55y7vd2Vm8kxU1qScjh5-3eVJ9T-4g.h7lHansSdReVq7IggiFAc44t2W_ZPTPoZWihfRMB_TYg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EB%9E%91.jpg?type=w773" alt="review-writer-image">
          </div>
          <div class="mr__item__writer-name">
            <p>(작성자 이름)</p>
          </div>
        </div>
      </div>
      

    
    </div>
  </div>
</section>


<!-- Main-metting -->
<section class="main-metting">
  <div class="container">
    <!-- Main-metting-top -->
    <div class="mm__top">
      <h3 class="mm__title">진행중인 모임 목록</h3>
      <a href="#">
        <span class="me-1">더보기</span><i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
    <!-- Main-metting-list -->
    <div class="mm__list">
      <div class="mm__list__item">
        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <img src="https://i.pinimg.com/564x/02/6d/03/026d032582a1a1876dd92acf86fa5401.jpg" class="card-img-top" alt="metting-image">
          </div>
          <div class="card-body">
            <h6 class="card-title" style="margin-bottom: 20px;">(모임 제목)</h6>
            <p class="card-text" style="font-size: 14px;">(모임 소개글) 장소 / 인원 / 모집기간</p>
          </div>
        </div>
      </div>
      <div class="mm__list__item">
        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <img src="https://i.pinimg.com/564x/02/6d/03/026d032582a1a1876dd92acf86fa5401.jpg" class="card-img-top" alt="metting-image">
          </div>
          <div class="card-body">
            <h6 class="card-title" style="margin-bottom: 20px;">(모임 제목)</h6>
            <p class="card-text" style="font-size: 14px;">(모임 소개글) 장소 / 인원 / 모집기간</p>
          </div>
        </div>
      </div>
      <div class="mm__list__item">
        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <img src="https://i.pinimg.com/564x/02/6d/03/026d032582a1a1876dd92acf86fa5401.jpg" class="card-img-top" alt="metting-image">
          </div>
          <div class="card-body">
            <h6 class="card-title" style="margin-bottom: 20px;">(모임 제목)</h6>
            <p class="card-text" style="font-size: 14px;">(모임 소개글) 장소 / 인원 / 모집기간</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

{% endblock content %}
  