{% extends 'base.html' %}


{% block content %}

<!--온보딩 메인 박스 pc-->


<div class ="onboarding-main-pc-box d-none d-sm-none d-md-block">
    <div class="d-flex">
        <div class="onboarding-text-box">
            <div class="logo-box">
                <img src="/static/image/logo2.png" class="img-fluid">
            </div>
            <div class="text-box">
                설명글 들어가면 여기
            </div>
        </div>
        <div class="onboarding-img-box">
            <div class="image-box">
                <img src="https://via.placeholder.com/800" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!--온보딩 메인 박스 mobile-->

<div class ="onboarding-main-mo-box d-block d-sm-none d-md-none">
    <div class="onboarding-img-box">
        <div class="image-box">
            <img src="https://via.placeholder.com/800" class="img-fluid">
        </div>
    </div>
</div>


<!--온보딩 카드-->


<!--온보딩 슬라이드: pc에선 보이고, 모바일에선 안보이고-->



{% endblock %}