{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--온보딩 메인 박스 pc-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

<!-- onboarding intro -->

<article class="onboarding-intro1">
    <div class="onboarding-intro1-textbox">
        <div class="onboarding-intro1-logobox">
            <img src="static/img/logo-02.png">
            <p> 읽고, 발견하고, 연결되는 독서 소셜 플랫폼</p>
        </div>
    </div>
    <div class="onboarding-intro1-imgbox">
        <img src="static/image/onboarding4.jpg">
    </div>
</article>

<article class="onboarding-intro1-mo">
    <div class="onboarding-intro1-mo-wrap">
        <img class="onboarding-intro1-mo-bg" src="static/image/onboarding4.jpg">
        <img class="onboarding-intro1-mo-lg" src="static/img/logo-02.png">
    </div>

</article>


<!--온보딩 카드 설명-->
<div class="onboarding-mo-btn-div">
    <button class="btn btn--yellow--reverse"> 책:오 시작하기 </button>

  </div>
<div class="container mt-5">
    <div class="mt-5">

        <div class="onboarding-intro2">
            <div class="onboarding-intro2-textbox">
                <h1> READ </h1>
                <p> 책 속 문장으로 쉬운 독서를 시작합니다.<br> 맘에 드는 문장은 스크랩으로 기록합니다.</p>
            </div>
            <div class="onboarding-intro2-imgbox">
                <img src="https://via.placeholder.com/350" class="img-fluid">
            </div>
        </div>
        <div class="onboarding-intro2 mt-5">
            <div class="onboarding-intro2-textbox">
                <h1> RECORD </h1>
                <p> 책 속 문장으로 쉬운 독서를 시작합니다.<br> 맘에 드는 문장은 스크랩으로 기록합니다.</p>
            </div>
            <div class="onboarding-intro2-imgbox">
                <img src="https://via.placeholder.com/350" class="img-fluid">
            </div>
        </div>
        <div class="onboarding-intro2 mt-5">
            <div class="onboarding-intro2-textbox">
                <h1> RELINK </h1>
                <p> 책 속 문장으로 쉬운 독서를 시작합니다.<br> 맘에 드는 문장은 스크랩으로 기록합니다.</p>
            </div>
            <div class="onboarding-intro2-imgbox">
                <img src="https://via.placeholder.com/350" class="img-fluid">
            </div>
        </div>
</div>

<!--온보딩 슬라이드: pc에선 보이고, 모바일에선 1개 노출-->
 
<div class="container mt-5">
    <div class="slide-title mb-5">
        <h3>NOW READING </h3>
        <h5> 책:오 기록가들의 문장을 소개합니다. </h5>
    </div>
</div>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide mb-5">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/395" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/395" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/395" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/395" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/395" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/395" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
  </div>

  <!-- 온보딩 하단-->
  <div class="onboarding-outro">
    <ul class="onboarding-outro-pc d-flex">
        <li class="onboarding-outro-logo">
            <img src="/static/image/logo2.png" class=" outro-imgage img-fluid">
        </li>
        <li class="onboarding-outro-textarea">
            <h3 class="onboarding-outro-text"> 설명문구 여기</h3>
            <a href="{% url 'books:main' %}">
                <button class="onboarding-outro-button">책:오 시작하기 </button>
            </a>
        </li>
    </ul>
  </div>

  <!-- 모바일 버튼-->
  <div class="onboarding-mo-btn-div">
    <button class="btn btn--yellow--reverse"> 책:오 시작하기 </button>

  </div>

  <!-- 슬라이드 JS (추후 JS 파일로 옮길 예정)-->
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      centerSlide: 'true',
      fade: 'true',
      grabCursor: 'true',
      autoplay:{disableOnInteraction: false},
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      dynamicBullets: true,
      breakpoints: {
        576: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        992: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      },
    });
  </script>


{% endblock %}