{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
{% include 'nav.html' %}
{% load taggit_templatetags2_tags %}

<!-- Search-top -->
<div class="search-top">
    <h1>검색 목록</h1>
    {% if query|length > 20 %}
    <h5><span class="search-query">" {{ query|slice:":20" }}... "</span> 에 대한 검색 결과입니다.</h5>
    {% else %}
    <h5><span class="search-query">" {{ query }} "</span> 에 대한 검색 결과입니다.</h5>
    {% endif %}
    <!-- search-form -->
    <div class="search-form-wrap">
        <form class="search-top-form" action="{% url 'books:search' %}" method="get">
            <input class="search-input" type="search" name="search" placeholder="검색어를 입력하세요.">
        </form>
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </div>
</div>


<!-- Search-tab -->
<div class="search-tab">
    <div class="container">

        <!-- search-tab-radio -->
        <input type="radio" name="s-tabs" id="s-tab1" checked>
        <label for="s-tab1">책 이름</label>
        <input type="radio" name="s-tabs" id="s-tab2">
        <label for="s-tab2">저자</label>
        <input type="radio" name="s-tabs" id="s-tab3">
        <label for="s-tab3">리뷰 내용</label>
        <input type="radio" name="s-tabs" id="s-tab4">
        <label for="s-tab4">태그</label>
    
        <!-- search-tab-container -->
        <!-- bookname -->
        <div id="s-content1" class="s-tab-content">
            {% if books %}
            <div class="row gx-5 w-100 mx-auto">
                {% for book in books %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 tab-card s-tab-card justify-content-end">
                    <img class="border tab-book-img" src="{{ book.bookcover }}" alt="bookcover" style="cursor: pointer;"
                        onclick="location.href='{% url 'books:detail' book.pk %}';">
                    <div class="tab-book-title">
                        <p class="m-0" style="font-weight: 700;">{{ book.bookname }}</p>
                        <p class="ellipsis"> {{ book.authors }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="m-5 p-3 d-flex flex-column align-items-center">
                {% if query|length > 20 %}
                <h5><span class="search-query">" {{ query|slice:":20" }}... "</span> 과 관련된 책이 없습니다.</h5>
                {% else %}
                <h5><span class="search-query">" {{ query }} "</span> 과 관련된 책이 없습니다.</h5>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <!-- author -->
        <div id="s-content2" class="s-tab-content">
            {% if authors %}
            <div class="row gx-5 w-100 mx-auto">
                {% for book in authors %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 tab-card s-tab-card justify-content-end">
                    <img class="border tab-book-img" src="{{ book.bookcover }}" alt="bookcover" style="cursor: pointer;"
                        onclick="location.href='{% url 'books:detail' book.pk %}';">
                    <div class="tab-book-title">
                        <p class="m-0" style="font-weight: 700;">{{ book.bookname }}</p>
                        <p class="ellipsis"> {{ book.authors }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="m-5 p-3 d-flex flex-column align-items-center">
                {% if query|length > 20 %}
                <h5><span class="search-query">" {{ query|slice:":20" }}... "</span> 과 관련된 저자가 없습니다.</h5>
                {% else %}
                <h5><span class="search-query">" {{ query }} "</span> 과 관련된 저자가 없습니다.</h5>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <!-- review -->
        <div id="s-content3" class="s-tab-content">
            <section class="accounts-review-list">
                <div class="container">
                    <!-- Review-item -->
                    {% for review in reviews %}
                    <div class="review__item">
                        <!-- review-item-content -->
                        <div class="review__item__content" style="cursor: pointer; background-color: {{ review.color }};" onclick="location.href='{% url 'reviews:detail' review.pk %}';">
                            <div class="review__item__content__quote">
                                <div class="up-quote">
                                <i class="fa-solid fa-quote-left fa-lg"></i>
                                </div>
                                <p class="text-center m-0">{{ review.content }}</p>
                                <div class="down-quote">
                                <i class="fa-solid fa-quote-right fa-lg"></i>
                                </div>
                            </div>
                        </div>
                        <!-- review-item-info -->
                        <div class="review__item__info">
                            <!-- review-item-proflie -->
                            <a href="{% url 'accounts:detail' review.user.pk %}">
                            <div class="review__item__proflie">
                                <div class="review__item__img">
                                <img src="{{ review.user.user_image }}" style="width: 35px; height: 35px;" alt="review-write-image">
                                </div>
                                <div class="review__item__username">
                                {{ review.user.username }}
                                </div>
                            </div>
                            </a>
                            <!-- review-item-button -->
                            <div class="review__item__btn">
                                <i class="fa-solid fa-share-nodes fa-lg" style="font-size: 18px;"></i>
                            </div>
                        </div>
                        <!-- review-item-tag -->
                        <div class="review-item-tag mt-2 pe-2 d-flex justify-content-between align-items-center">
                            <div class="review-item-tags">
                            {% get_tags_for_object review as "tags" %}
                            {% for tag in tags %}
                                #{{tag}}
                            {% endfor %}
                            </div>
                            <div class="created-date">
                            {% if review.created_string == False %}
                            {{ review.registered_date|date:'m월 d일' }}
                            {% else %}
                            {{ review.created_string }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="m-5 p-3 d-flex flex-column align-items-center">
                        {% if query|length > 20 %}
                        <h5><span class="search-query">" {{ query|slice:":20" }}... "</span> 을 포함한 리뷰가 없습니다.</h5>
                        {% else %}
                        <h5><span class="search-query">" {{ query }} "</span> 을 포함한 리뷰가 없습니다.</h5>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <!-- tag -->
        <div id="s-content4" class="s-tab-content">
            <section class="accounts-review-list">
                <div class="container">
                    <!-- Review-item -->
                    {% for tag_review in tags_review %}
                    <div class="review__item">
                        <!-- review-item-content -->
                        <div class="review__item__content" style="cursor: pointer; background-color: {{ tag_review.color }};" onclick="location.href='{% url 'reviews:detail' tag_review.pk %}';">
                            <div class="review__item__content__quote">
                                <div class="up-quote">
                                <i class="fa-solid fa-quote-left fa-lg"></i>
                                </div>
                                <p class="text-center m-0">{{ tag_review.content }}</p>
                                <div class="down-quote">
                                <i class="fa-solid fa-quote-right fa-lg"></i>
                                </div>
                            </div>
                        </div>
                        <!-- review-item-info -->
                        <div class="review__item__info">
                            <!-- review-item-proflie -->
                            <a href="{% url 'accounts:detail' tag_review.user.pk %}">
                            <div class="review__item__proflie">
                                <div class="review__item__img">
                                <img src="{{ tag_review.user.user_image }}" style="width: 35px; height: 35px;" alt="review-write-image">
                                </div>
                                <div class="review__item__username">
                                {{ tag_review.user.username }}
                                </div>
                            </div>
                            </a>
                            <!-- review-item-button -->
                            <div class="review__item__btn">
                                <!--공유하기-->
                                <i type="button" class="fa-solid fa-share-nodes fa-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header justify-content-center">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">공유하기</h1>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center">
                                                    <a href="javascript:sendLinkFacebook()"><i class="bi bi-facebook mx-3"
                                                            style="font-size: 52px;"></i></a>
                                                    <a href="javascript:sendLinkTwitter()"><i class="bi bi-twitter mx-3"
                                                            style="font-size: 52px;"></i></a>
                                                    <script>
                                                        function sendLinkFacebook() {
                                                            var facebook_share_url = "https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}";
                                                            window.open(facebook_share_url,
                                                                'Share on Facebook',
                                                                'scrollbars=no, width=500, height=500');
                                                        }

                                                        function sendLinkTwitter() {
                                                            var twitter_share_text = "{{ post.title }}";
                                                            var twitter_share_url = "{{ request.build_absolute_uri }}";
                                                            window.open("https://twitter.com/share?text=" + twitter_share_text + "&url=" + twitter_share_url,
                                                                'Share on Twitter',
                                                                'scrollbars=no, width=500, height=500');
                                                        }
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- review-item-tag -->
                        <div class="review-item-tag mt-2 pe-2 d-flex justify-content-between align-items-center">
                            <div class="review-item-tags">
                            {% get_tags_for_object tag_review as "tags" %}
                            {% for tag in tags %}
                                #{{tag}}
                            {% endfor %}
                            </div>
                            <div class="created-date">
                            {% if tag_review.created_string == False %}
                            {{ tag_review.registered_date|date:'m월 d일' }}
                            {% else %}
                            {{ tag_review.created_string }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="m-5 p-3 d-flex flex-column align-items-center">
                        {% if query|length > 20 %}
                        <h5><span class="search-query"># {{ query|slice:":20" }}...</span>&nbsp;&nbsp; 태그를 포함한 리뷰가 없습니다.</h5>
                        {% else %}
                        <h5><span class="search-query"># {{ query }}</span>&nbsp;&nbsp; 태그를 포함한 리뷰가 없습니다.</h5>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

    </div>
</div>

{% endblock content %}



{% block js %}

<script>
// Nav-search
const sSearchEl = document.querySelector('.search-top-form');
const sSearchInputEl = sSearchEl.querySelector('input');
const sSearchIcon = document.querySelector('.search-icon');

sSearchInputEl.addEventListener('focus', function() {
    sSearchIcon.classList.add('focused');
});

sSearchInputEl.addEventListener('blur', function() {
    sSearchIcon.classList.remove('focused');
});
</script>

{% endblock js %}
    