{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load taggit_templatetags2_tags %}

{% block content %}

<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
  integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous"></script>
<script>
  Kakao.init('c089c8172def97eb00c07217cae17495'); // 사용하려는 앱의 JavaScript 키 입력
</script>

<a id="kakao-login-btn" href="javascript:loginWithKakao()">
  <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
    alt="카카오 로그인 버튼" />
</a>
<p id="token-result"></p>

<script>
  function loginWithKakao() {
    Kakao.Auth.authorize({
      redirectUri: 'http://localhost:8000/backend_test/search/',
    });
  }

  // 아래는 데모를 위한 UI 코드입니다.
  displayToken()
  function displayToken() {
    var token = getCookie('authorize-access-token');

    if(token) {
      Kakao.Auth.setAccessToken(token);
      Kakao.Auth.getStatusInfo()
        .then(function(res) {
          if (res.status === 'connected') {
            document.getElementById('token-result').innerText
              = 'login success, token: ' + Kakao.Auth.getAccessToken();
          }
        })
        .catch(function(err) {
          Kakao.Auth.setAccessToken(null);
        });
    }
  }

  function getCookie(name) {
    var parts = document.cookie.split(name + '=');
    if (parts.length === 2) { return parts[1].split(';')[0]; }
  }
</script>



{{ttag}}
{% for q in ttag %}
리뷰:{{q.content}}
{% endfor %}
{% comment %} {% get_taglist as tags %}
{% for tag in tags %}
#{{tag}}|{{tag.num_times}}
{% endfor %} {% endcomment %}
<form id="search-form" action="{% url 'backend_test:search' %}" method="get">
  <input type="search" name="q" id="t"  class="btn btn--main" data-bs-toggle="modal" data-bs-target="#review-guide">
</form>
<button type="button">
    리뷰 작성
  </button>
  <div class="modal fade" id="review-guide" tabindex="-1" aria-labelledby="review-guide" aria-hidden="true">
    <!-- modal-dialog -->
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- modal-body -->
        <div class="modal-body">
          <p class="record-text">기록할 유형을 선택해주세요 ✍️</p>
          <!-- Record-wrap -->
          <div class="record-wrap">
            
            {% for boo in book %}
            {{boo.pk}}
            <form action="">
            <button  id="tt" name="aa" value="{{boo.pk}}"><img src="{{boo.bookcover}}" alt=""></button>
            </form>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{query}}
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% comment %} <script>
    const btn = document.querySelector('#tt')
    
    btn.addEventListener('click', function (event) {
        const bookId = event.target.dataset.bookId
    
        axios({
            method: 'post',
            url: `/backend_test/search/`,
        })
            .then((response) => {
                console.log(response)
            })
            .catch((error) => {
                console.log(error.response)
            })
    })
  </script> {% endcomment %}


 

    
{% endblock content %}