/* Notice */
.notice-body {
  width: 100%;
  height: 100vh;
  
}

.notices-wrap {
  width: 600px;
  margin: 0 auto;
}

.notice__top {
  margin-top: 120px;
  margin-bottom: 50px;
}

.notice__top h3 {
  color: var(--white-color);
}


/* Notice-list */
.notice__list {
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 30px 40px;
  margin-bottom: 50px;
}

.notice__item p {
  margin: 0;
}

.notice__item__date p {
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--gray-color);
}

.notice__item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice__item__title p {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.notice__item__title i {
  color: var(--gray-color);
}


/* Media */
@media screen and (max-width: 576px) {
  .notices-wrap {
    width: 400px;
  }
}