{% load static %}

<!-- Nav -->
<nav class="nav">
  <div class="container nav-box">
    <!-- Nav Logo -->
    <div class="nav__logo">
      <a href="{% url 'books:main' %}">
        <!-- <h4 style="color: var(--main-color); width: 65px; margin: 0; font-family: 'Nanum Myeongjo'">책:오</h3> -->
        <img src="{% static 'img/logo-04.png' %}" alt="logo">
      </a>
    </div>
    <div class="nav-wrap">
      <!-- Nav List -->
      <ul class="nav__list">
        <li class="nav__list__item"><a href="{% url 'books:index' %}">도서목록</a></li>
        <li class="nav__list__item"><a href="{% url 'reviews:index' %}">리뷰목록</a></li>
        <li class="nav__list__item"><a href="{% url 'groups:index' %}">모임목록</a></li>
        <li class="nav__list__item"><a href="{% url 'notices:index' %}">공지사항</a></li>
      </ul>
      <div class="nav-wrap-inner">
        <div class="nav-icon-wrap">
          <!-- Nav Search -->
          <div class="nav__search">
            <form id="search-form" action="{% url 'books:search' %}" method="get">
              <input type="search" name="search" id="d" >
            </form>
            <div class="material-icons">search</div>
          </div>
        </div>
        <!-- Nav User -->
        <div class="nav__user">
          
          {% if request.user.is_authenticated %}
          <a href="{% url 'accounts:detail' request.user.pk %}">
            <img class="nav__user__image" src="{{ request.user.user_image }}" alt="user-profile">
          </a>
          <a href="{% url 'accounts:logout' %}" class="ms-3">
            <!-- fa-door-open / fa-person-walking-arrow-right 
              fa-right-from-bracket / fa-arrow-right-from-bracket -->
            <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: var(--main-color);"></i>
          </a>
          {% else %}
          <a href="{% url 'accounts:login' %}">
            <button class="nav__user__btn btn btn--main">로그인</button>
          </a>
          <a href="{% url 'accounts:signup' %}">
            <button class="nav__user__btn btn btn--main--reverse">회원가입</button>
          </a>
          {% endif %}
            
        </div>
      </div>
    </div>
    <a href="#" class="nav-toogle-btn">
      <i class="fa-solid fa-bars-staggered fa-xl"></i>
    </a>
  </div>
</nav>